.List {
  width: 31.5%;
  height: 30%;
  background-color: white;
  position: relative;
  top: 32%;
  left: 6%;
  border: 3px solid rgb(112, 112, 112);
  border-radius: 5px;
  padding: 5px;
}