* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Pokedex {
  margin: 20px auto;
  width: 960px;
  height: 687px;
  background-image: url(../../assets/images/Pokedex.png);
  background-size: cover;
  position: relative;
}

.logo{
  width: 17%;
  position: absolute;
  top: 5px;
  right: 30px;
}

#up{
  position: absolute;
  left: 291px;
  top: 515px;
}

#down{
  position: absolute;
  left: 291px;
  top: 593px;
}

#pokemon1 {
  background-color: #f29435;
}